/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
}

/* ---------------------------------------------------------------------------------------------------- */

/* PRESET CONTENITORI */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */

/* HEADER */

/* ---------------------------------------------------------------------------------------------------- */

/* BARRA DEI MENÙ */

.menu-bar {
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #F1EEE8;
    background: white;
    font-weight: 500;
    font-size: 13px;
    position: sticky;
    top: 0;
}

.menu-col-1 {
    max-width: 100%;
    float: left;
    }

.menu-col-2 {
    max-width: 100%;
    float: right;
}

.nav-logo {
    width: 120px;
    padding: 15px;
    float: left;
}

.nav-bar {
    float: left;
    padding: 17px 0;
}

.nav-bar li {
    float: left;
}

.nav-bar a {
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    background: #F1EEE8;
    transition: background-color 300ms;
}

.nav-button {
    float: left;
    padding: 17px 0;
}

.nav-button a {
    margin: 0 20px;
    padding: 8px 15px;
    text-decoration: none;
    background: #0160FF;
    color: white;
}

.nav-button a:hover {
    background: #3A7AFF;
    transition: background-color 300ms;
}

/* ---------------------------------------------------------------------------------------------------- */

/* JUMBO HEADER */

.jumbo-container {
    max-width: 100%;
    height: 500px;
    background: #B3D0E7;
}

.jumbo-wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.jumbo-title {
    padding: 40px 0;
    font-size: 60px;
}

.jumbo-col-1 {
    width: 40%;
    font-size: 14px;
    font-weight: 500;
    float: left;
}

.description {
    width: 85%;
    margin-bottom: 30px;
}

.trial-button {
    text-decoration: none;
    color: white;
    background: #0160FF;
    padding: 10px 20px;;
}

.trial-button:hover {
    background: #3A7AFF;
    transition: background-color 300ms;
}

.cancel {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.download {
    font-size: 40px;
    color: black;
}

.download:hover {
    color: white;
    transition: color 300ms;
}

.jumbo-col-2 {
    width: 60%;
    float: left;
}

/* ---------------------------------------------------------------------------------------------------- */

/* MAIN */

/* ---------------------------------------------------------------------------------------------------- */




/* to be continued... */





/* ---------------------------------------------------------------------------------------------------- */
